# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321

# Redis (Render Redis)
REDIS_URL=redis://...

# Shopee
SHOPEE_AFFILIATE_ID=17353410295
SHOPEE_SUB_ID_TEMPLATE=--{aff_id}--

# Lazada LiteApp
LAZADA_LITEAPP_KEY=105827
LAZADA_LITEAPP_SECRET=r8ZMKhPxu1JZUCwTUBVMJiJnZKjhWeQF
LAZADA_USER_TOKEN=f879c4163b0f4c5a90c1567fcffac91e
LAZADA_AFF_PREFIX=https://c.lazada.vn/t/c.YParqP

# Shortener
SHORTENER_DB_PATH=data/short_links.json
SHORTENER_BASE_URL=https://s.salevn.top

# Frontend URL (cho CORS)
FRONTEND_URL=https://s.salevn.top
